<%= content_for :breadcrumb do %>
    <%= render 'shared/breadscrumb', breadscrumb: generate_breadscrumb(@blog.title, '', '', {blogs: blogs_path}) %>
<% end %>
<h1 class="public-title"> <%= @blog.title %> </h1>

<%= @blog.created_at.strftime('%B %d, %Y') %>

<div class="blog-cover-photo">
  <%= image_tag @blog.cover_photo_url(:large) %>
</div>

<div class="blog-body">
  <%= raw @blog.body %>
</div>

<div class="comments-top-section" id="comments">
  <h2>Leave a Comment</h2>

  <p>
    <%= pluralize(@blog.comments.count, 'comment') %>:
  </p>
</div>

<div class="blog-comments-wrapper">
  <ul>
    <% @blog.comments.each do |comment| %>
        <li class="clearfix">
          <div class="avatar-wrapper">
            <%= image_tag 'female-avater.png', class: 'single-image-fluid' %>
          </div>
          <div class="comments-wrapper">
            <div class="author">
              <%= comment.user.email.split('@').first %>
            </div>
            <div class="date-time">
              <%= comment.created_at.strftime('%B %d, %Y at %H:%M %p') %>
            </div>
            <p>
              <%= comment.body %>
            </p>
          </div>
        </li>
    <% end %>
  </ul>
</div>

<% if current_user.present? %>

<div class="comments-form">
  <%= form_for [@blog, Comment.new] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', placeholder: 'Write your comment', required: true %>
      </div>
      <div class="form-group clearfix text-right">
        <%= f.submit 'Post Comment', class: 'btn btn-default' %>
      </div>
  <% end %>
</div>
    <% else  %>
    <div class="form-group">
      <h2 align="center">Please log in for comment</h2>
    </div>
<% end %>