<% content_for :breadcrumb do %>
    <%= render 'shared/breadscrumb', breadscrumb: generate_breadscrumb('Payment', '', '', {'checkout' => '/checkout', 'Shipping Address' => '/checkout/address', 'Delivery' => '/checkout/delivery'}) %>
<% end %>

<script type="text/javascript" asyc src='https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js'></script>
<div class="container">
  <div class="row">

    <div class="col-md-6 clearfix">


      <div class="chose-payment-method border-bottom">
        <h3 class="public-title text-left mb0"> CHOOSE PAYMENT OPTIONS </h3>

        <div class="tabs-wrapper">
          <ul class="nav nav-tabs">
            <!--<li class="active">-->
              <!--<a data-toggle="tab" href="#card">-->
                <!--<label for="payment-ssl">-->
                  <!--<i class="fa fa-credit-card"></i> SSL Commerz-->
                <!--</label>-->
              <!--</a>-->
            <!--</li>-->
            <li class="active">
              <a data-toggle="tab" href="#paypal">
                <i class="fa fa-paypal"></i> Paypal
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#points">
                <i class="fa fa-bullseye"></i> Earning Points
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#cash">
                <i class="fa fa-bullseye"></i> Cash On Delivery
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <!--<div id="card" class="tab-pane fade in active">-->
              <!--<h3>HOME</h3>-->

              <!--<p>Some content.</p>-->
            <!--</div>-->

            <div id="paypal" class="tab-pane fade in active">
              <h3>Checkout With Paypal</h3>

              <%= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_express_url(:payment_method_id => payment_method('PaymentMethod::PayPalExpress')), :method => :post, :id => "paypal_button") %>

              <script>
                  SpreePaypalExpress.paymentMethodID = "<%= payment_method('PaymentMethod::PayPalExpress') %>"
              </script>
            </div>

            <div id="points" class="tab-pane fade">
              <form action="/checkout/update/payment" role="form" method="patch">
                <h3>Your available credit points <b> # <%= current_user.present? ? current_user.available_rewards : 0 %> </b></h3>

                <p>
                  Required credit points <b> # <%= @order.total %> </b>
                </p>

                <p>
                  Remaining points <b> # <%= current_user.present? ? (current_user.available_rewards - @order.total) : 0 %> </b>
                </p>
                <% if current_user.present? && (current_user.available_rewards - @order.total) > 0 %>
                    <%= radio_button_tag "[order][payments_attributes][0][payment_method_id]", payment_method('PaymentMethod::CreditPoint'), true, id: 'rewards-points', class: 'hidden' %>
                    <div class="continue-btn clearfix">
                      <input type="submit" class="place-order-btn pull-right" value="Confirm & Place Order">
                    </div>
                <% else %>
                    <div class="alert alert-danger">
                      Not enough rewards point to checkout this order.
                    </div>
                <% end %>
              </form>
            </div>
            <div id="cash" class="tab-pane fade in">
              <%= form_for @order, url: update_checkout_path(@order.state) do |f| %>
                  <%= radio_button_tag "[order][payments_attributes][0][payment_method_id]", payment_method('PaymentMethod::Cash'), true, id: 'payment-cash', class: 'hidden' %>
                  <h3>Cash On Delivery</h3>

                  <p>
                    Please pay <b> <%= @order.display_total.to_display %> </b> when received delivery.
                  </p>

                  <p>
                    <input type="submit" class="place-order-btn pull-right" value="Confirm & Place Order">
                  </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 clearfix">
      <%= render 'orders/summary' %>
      <div class="border-bottom" style="margin-bottom: 20px; padding-bottom: 50px">
        <h1 class="public-title text-left mt10 mb10"> Shipping address </h1>
        <%= render 'checkout/shipping_address' %>
        <h1 class="public-title text-left mt10 mb10"> Shipping method </h1>

        <p>
          <%= shipping_method(@order.shipments) %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/form_validation_script' %>

<script type="text/javascript">
    $(function () {
        $('#same-billing-address').click(function () {
            if ($(this).is(":checked")) {
                $('#custom-billing-address').slideUp();
            }
            else {
                $('#custom-billing-address').slideDown();
            }
        });
        card = $('#_order_payments_attributes_number');
        cvv = $('#_order_payments_attributes_cvv_response_code');
        expire = $('#expiration-date');

        card.payment('formatCardNumber');
        cvv.payment('formatCardCVC');
        expire.payment('formatCardExpiry');

        $('input[type="submit"]').click(function (e) {
            valid_card = $.payment.validateCardNumber(card.val());
            valid_cvv = $.payment.validateCardCVC(cvv.val());
            valid_expire = $.payment.cardExpiryVal(expire.val());

            if (!valid_card) {
                card.removeClass('valid');
                card.parent().addClass('errored');
                card.next().html("Your card number is invalid");
            }

            if (!valid_cvv) {
                cvv.removeClass('valid');
                cvv.parent().addClass('errored');
                cvv.next().html("Your card cvc is invalid");
            }

            if (!valid_expire) {
                expire.removeClass('valid');
                expire.parent().addClass('errored');
                expire.next().html("Your card expire is invalid");
            }

            if (valid_card && valid_cvv && valid_expire && check_valid_card_type(card)) {
                console.log("Valid payment");
            }
            else {
                console.log("Invalid payment credential");
                firstErrorInput = $(".errored").find('.required').first();
                if (firstErrorInput != '') {
                    firstErrorInput.focus();
                }
                e.preventDefault();
            }
        });

        card.keyup(function () {
            check_valid_card_type($(this));
        });

        function check_valid_card_type(card) {
            card_type = $.payment.cardType(card.val());
            if (card_type == 'mastercard' || card_type == 'visa') {
                $('.card-type-supported').html('');
                return true;
            }
            else if (card_type != null) {
                $('.card-type-supported').html("Only Master/Visa card accepting");
                return false;
            }
            else {
                $('.card-type-supported').html('');
            }
        }

    });
</script>