<div class="track-destination clearfix">
  <p><%= @order.ship_address.full_name %></p>

  <p><%= @order.ship_address.address %></p>

  <p><%= @order.ship_address.city %>, <%= @order.ship_address.state %>
    , <%= @order.ship_address.zipcode %></p>

  <p><%= @order.ship_address.country %></p>

  <p>T. <%= @order.ship_address.phone %></p>
</div>