<% content_for :page_title do %>
  Product Brands
<% end %>

<% content_for :page_actions do %>
  <%= link_to new_admin_brand_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus" aria-hidden="true"></i> New Brand
  <% end %>
<% end if can?(:create, Admin::Brand) %>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Permalink</th>
    <th>Meta title</th>
    <th>Meta desc</th>
    <th>Keywords</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admin_brands.each do |admin_brand| %>
    <tr>
      <td><%= admin_brand.name %></td>
      <td><%= admin_brand.description %></td>
      <td><%= admin_brand.is_active ? 'Active' : 'Inactive' %></td>
      <td><%= admin_brand.permalink %></td>
      <td><%= admin_brand.meta_title %></td>
      <td><%= admin_brand.meta_desc %></td>
      <td><%= admin_brand.keywords %></td>
      <td><%= link_to 'Show', admin_brand_path(admin_brand) %></td>
      <td><%= link_to 'Edit', edit_admin_brand_path(admin_brand) %></td>
      <td><%= link_to 'Destroy', admin_brand_path(admin_brand), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
