<% shipment.order.line_items.each do |item| %>
    <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
      <td class="item-image image text-center">
        <%= mini_image(item.product) %>
      </td>

      <td class="item-name">
        <%= item.product.name %>
        <br/>
        <% if item.product.code.present? %>
            <strong>Code:</strong> <%= item.product.code %>
            <br>
        <% end %>
        <% if item.product.color.present? %>
            <strong>Color:</strong>
            <span class="color-label" style="background: <%= '#' + item.product.color %>"> </span>
            <br/>
        <% end %>
        <% if item.product.size.present? %>
            <strong>Size:</strong> <%= item.product.size %>
            <br/>
        <% end %>

      </td>

      <td class="item-price text-center">
        <%= amount_with_currency(item.price) %>
      </td>

      <td class="item-qty-show text-center">
        <%= item.quantity %> </br>
        <% if item.return_items.present? %>
         <%= item.return_items.count %> x Returned
        <% end %>
      </td>

      <%# unless shipment.shipped? %>
          <!--<td class="item-qty-edit is-hidden">-->
          <%#= number_field_tag :quantity, item.quantity, min: 0, class: "line_item_quantity form-control", size: 5 %>
          <!--</td>-->
      <%# end %>

      <td class="item-total text-center">
        <%= amount_with_currency(item.price * item.quantity) %>
      </td>

      <td class="cart-item-delete actions actions-3 text-center" data-hook="cart_item_delete">
        <% if (!shipment.shipped?) && can?(:update, item) %>
            <%= link_to_with_icon 'trash', 'Delete', "#", class: 'delete-item btn btn-danger btn-sm', data: {'shipment-number' => shipment.number, 'variant-id' => item.product.id, action: 'remove'}, title: t('delete'), no_text: true %>
        <% end %>
      </td>
    </tr>
<% end %>
