<% content_for :slider do %>
    <%= render 'shared/top_slider' %>
<% end %>

<div class="slugan-items mb20">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag 'quality.png', class: 'img-fluid' %>

      <p>High Quality + Reasonable Price</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag 'own-factory.png', class: 'img-fluid' %>

      <p>Own Factory Product</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag 'money-refund.png', class: 'img-fluid' %>

      <p>100% Money Refund</p>
    </div>

    <div class="col-sm-3">
      <%= image_tag 'truck.png', class: 'img-fluid' %>

      <p>Custom Order & Fast Delivery</p>
    </div>
  </div>
</div>

<section class="featured-products">
  <div class="container">
    <h3 class="public-title"> Top Sales </h3>
    <div class="product-lists clearfix">
      <% @featured_products.each do |product| %>
          <div class="product-wrapper product col-sm-6 col-md-3">
            <%= render 'products/product', product: product %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="view-more-products">
    <div class="overlay-bg">
      <h3> Now quality and fashion is on your hand! </h3>
      <h5> Freedom to make a custom design and order. </h5>
      <p>
        Don't let it late. Quality, Price & Time are our concern to serve you.
      </p>
      <%= link_to products_path, class: 'btn-more btn btn-warning' do %>
          <%= t(:view_more) %> <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>
</section>

<div class="container">
  <%= render 'top_category_promo' %>


  <section class="row featured-banner">
    <div class="container">
      <div class="clearfix">
        <div class="col-sm-12">
          <div class="effect-v3 fulkuri-bg display-table">
            <div class="display-table-cell text-center">
              <h3 class="text-shadow-title">Multi Color Collection Get You A Chance To chose Widely !</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- featured-banner -->

  <%= render 'home/new_arrival' %>

  <section class="we-love-landing clearfix">
    <div class="col-sm-12">
      <div class="wrapper clearfix">
        <div class="col-sm-6">
          <div class="col-inner-container row">
            <div class="call-to-action">
              <div class="cta-desc">
                <h2>Our concern what you love most? </h2>

                <div class="cta-text">A professional-looking tote for you that everyday needs!
                  The leading Orna Store for Women wholesale trade. We are ready to serve womens
                  product around your house-door. And we have own factory thats the secret of our
                  goods quality.
                </div>
              </div>
              <div class="cta-button">
                <%= link_to products_path do %>
                    discover <i class="fa fa-plus"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="single-image-fluid effect-v1">
              <a href="#" title="" target="_self">
                <%= image_tag 'bg_img/royalti-multi.jpg', class: 'img-fluid' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render 'testimonial' %>

<div class="container">
  <section class="from-our-blog">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-v1">
          <div class="title-wrap">
            <h3 class="public-title">
              <%= t(:from_our_blog) %>
            </h3>
          </div>

          <div class="blog-post" id="post-lists">
            <% @blogs.each do |blog| %>
                <%= render 'post', blog: blog %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>