<%= render partial: 'admin/shared/order_tabs', locals: {current: :payments} %>

<% content_for :page_title do %>
    / <%= t(:payments) %>
<% end %>

<% if @payments.any? %>

    <div data-hook="payment_list" class="panel panel-default no-border-bottom table-wrapper">
      <%= render partial: 'list', locals: {payments: @payments} %>
    </div>

    <% if @refunds.any? %>
        <fieldset data-hook="payment_list" class="no-border-bottom">
          <legend><%= t(:refunds) %></legend>
          <%= render partial: 'admin/shared/refunds', locals: {refunds: @refunds, show_actions: true} %>
        </fieldset>
    <% end %>

<% else %>
    <div class="alert alert-info no-objects-found"><%= t(:order_has_no_payments) %></div>
<% end %>

<%= render partial: 'admin/shared/order_summary' %>
