<div data-hook="admin_stock_locations_form_fields">

  <div data-hook="stock_location_name">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, t(:name) %> <span class="required">*</span><br/>
      <%= f.text_field :name, class: 'form-control', required: true %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div data-hook="stock_location_admin_name">
    <%= f.field_container :admin_name, class: ['form-group'] do %>
      <%= f.label :admin_name, t(:internal_name) %>
      <%= f.text_field :admin_name, class: 'form-control', label: false %>
    <% end %>
  </div>

  <strong><%= t(:status) %></strong>

  <div class="row">
    <div class="col-md-3">
      <div class="checkbox" data-hook="stock_location_active">
        <%= label_tag :active, for: :stock_location_active do %>
          <%= f.check_box :active %>
          <%= t(:active) %>
        <% end %>
      </div>
      <div class="checkbox" data-hook="stock_location_default">
        <%= label_tag :default, for: :stock_location_default do %>
          <%= f.check_box :default %>
          <%= t(:default) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">
      <div class="checkbox" data-hook="stock_location_backorderable_default">
        <%= label_tag :backorderable_default, for: :stock_location_backorderable_default do %>
          <%= f.check_box :backorderable_default %>
          <%= t(:backorderable_default) %>
        <% end %>
      </div>
      <div class="checkbox" data-hook="stock_location_propagate_all_variants">
        <%= label_tag :propagate_all_variants, for: :stock_location_propagate_all_variants do %>
          <%= f.check_box :propagate_all_variants %>
          <%= t(:propagate_all_variants) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group" data-hook="stock_location_address1">
    <%= f.label :address, t(:street_address) %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_city">
    <%= f.label :city, t(:city) %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_zipcode">
    <%= f.label :zipcode, t(:zip) %>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_phone">
    <%= f.label :phone, t(:phone) %>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_country">
    <%= f.label :country, t(:country) %>
    <%= f.text_field :country, class: 'form-control' %>
    <span id="country"></span>
  </div>

  <div class="form-group" data-hook="stock_location_state">
    <%= f.label :state, t(:state) %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>
</div>