<h1 class="public-title text-left"> Order Summary </h1>
<div class="order-summary-wrap pull-md-right">
  <div class="order-table">
    <table>
      <tbody>
      <tr>
        <td> Order subtotal</td>
        <td class="td-value">
          <b>
            <%= amount_with_currency(@order.total) %>
          </b>
        </td>
      </tr>
      <%# if @order.promotions.present? %>
      <tr>
        <td> Discount / coupon</td>
        <td> <%= amount_with_currency(@order.adjustment_total) %> </td>
      </tr>
      <%# end %>
      <tr>
        <td> Estimated shipping</td>
        <td class="td-value">
          <% if @order.shipment.present? %>
              <b> <%= amount_with_currency(@order.shipment.cost) %> </b>
          <% else %>
              <b>Not Selected</b>
          <% end %>
        </td>
      </tr>
      <tr>
        <td> Estimated sales tax</td>
        <td class="td-value color-error"> Tax included in price</td>
      </tr>
      <tr class="total-order">
        <td> Order total</td>
        <td class="td-value">
          <b>
            <%= amount_with_currency(@order.net_total) %>
          </b>
        </td>
      </tr>
      <tr class="font-italic">
        <td> You saved</td>
        <td class="td-value">
          <b> <%= amount_with_currency(@order.you_saved) %> </b>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
