<%= form_for [@product, @variant], url: @variant.new_record? ? admin_product_variants_path(@product, @variant) : admin_product_variant_path(@product, @variant) do |form| %>
  <%= render 'admin/shared/error_messages', target: @variant %>

  <%= form.hidden_field :name, value: @product.name %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :code %>
        <%= form.text_field :code, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :cost_price %>
        <%= form.text_field :cost_price, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :sale_price %>
        <%= form.text_field :sale_price, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :whole_sale, 'Whole sale price' %>
        <%= form.text_field :whole_sale, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :color_name %>
        <%= form.text_field :color_name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :color %>
        <%= form.text_field :color, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-12" style="padding: 0">
      <div class="col-md-4">
        <div class="checkbox">
          <%= label_tag :discountable, for: :product_discountable do %>
            <%= form.check_box :discountable, id: :product_discountable %>
            Discountable?
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox">
          <%= label_tag :is_amount, for: :product_is_amount do %>
            <%= form.check_box :is_amount, id: :product_is_amount %>
            Is Amount?
          <% end %>
          (Check -> Amount, Uncheck -> Percentage)
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group field">
          <%= form.label :discount %>
          <%= form.text_field :discount, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :size %>
        <%= form.text_field :size, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :weight %>
        <%= form.text_field :weight, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :width %>
        <%= form.text_field :width, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :height %>
        <%= form.text_field :height, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group field">
        <%= form.label :depth %>
        <%= form.text_field :depth, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="checkbox">
        <%= label_tag :is_active, for: :product_is_active do %>
          <%= form.check_box :is_active, id: :product_is_active %>
          <%= t(:active) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'admin/shared/form_actions', cancel: admin_product_path(@product), record: form.object %>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
        var discountable_element = $('#product_discountable');
        var is_amount_element = $('#product_is_amount');
        var discount_element = $('#product_discount');
        discountable_element.change(function () {
            if (this.checked) {
                is_amount_element.parent().parent().show();
                discount_element.parent().show();

            }
            else {
                is_amount_element.parent().parent().hide();
                discount_element.parent().hide();
                is_amount_element.prop('checked', false);
                discount_element.val(0.0);
            }
        });

        if (!discountable_element.is(':checked')) {
            is_amount_element.parent().parent().hide();
            discount_element.parent().hide();
        }
    });
</script>
