<%= form_with(model: admin_category, local: true) do |form| %>
    <% if admin_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(admin_category.errors.count, "error") %> prohibited this admin_category from being
            saved:</h2>

          <ul>
            <% admin_category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :admin_category_name, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :admin_category_description, class: 'form-control' %>
    </div>

    <% unless form.object.new_record? %>
        <div class="form-group field">
          <%= form.label :parmalink %>
          <%= form.text_field :permalink, id: :admin_category_parmalink, class: 'form-control' %>
        </div>
    <% end %>

    <div class="form-group field">
      <%= form.label :meta_title, 'Meta Title(For SEO)' %>
      <%= form.text_field :meta_title, id: :admin_category_meta_title, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :meta_desc, 'Meta Description(For SEO)' %>
      <%= form.text_area :meta_desc, id: :admin_category_meta_desc, class: 'form-control' %>
    </div>

    <div class="form-group field">
      <%= form.label :keywords, 'Keywords(For SEO)' %>
      <%= form.text_area :keywords, id: :admin_category_keywords, class: 'form-control' %>
    </div>
    <%= form.hidden_field :parent_id %>

    <%= render 'admin/shared/form_actions', cancel: admin_categories_path, record: form.object %>
<% end %>
