<% content_for :page_title do %>
  Products
<% end %>

<% content_for :page_actions do %>
  <%= link_to new_admin_product_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus" aria-hidden="true"></i> New Product
  <% end %>
<% end if can?(:create, Product) %>

<% if @products.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, edit_admin_product_path(product) %></td>
        <td><%= product.code %></td>
        <td><%= product.is_active ? 'Active' : 'Inactive' %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
        <td><%= link_to 'Destroy', admin_product_path(product), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= t(:no_resource_found, resource: 'Products') %>,
    <%= link_to t(:add_one), new_admin_product_path %>!
  </div>
<% end %>