<%= render partial: 'admin/products/sidebar', locals: {current: :stock} %>
<%= render partial: 'admin/shared/error_messages', locals: {target: @product} %>

<% content_for :page_title do %>
  <%= link_to @product.name, edit_admin_product_path(@product) %> /
  Stock
<% end %>

<% if can? :create, StockMovement %>
  <div id="add_stock_form" class="panel panel-default">
    <%= render 'add_stock_form' %>
  </div>
<% end %>

<div class="panel panel-default">
  <table class="table table-bordered" id="listing_product_stock">
    <thead>
    <tr data-hook="admin_product_stock_management_index_headers">
      <th colspan="2"><%= t(:variant) %></th>
      <th colspan="3"><%= t(:stock_location_info) %></th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <% if product.stock_items.present? %>
        <tr id="<%#= spree_dom_id product %>" data-hook="admin_product_stock_management_index_rows">
          <td class="image text-center">
            <% if product.images.present? %>
              <%= image_tag product.images.first.file.url(:mini) %>
            <% end %>
          </td>
          <td>
            <%= product.code %>
            <%= form_for [:admin, product], class: 'toggle_variant_track_inventory' do |ti_form| %>
              <div class="checkbox">
                <%= label_tag :track_inventory, for: :product_track_inventory do %>
                  <%= ti_form.check_box :track_inventory, id: :product_track_inventory %>
                  <%= t(:track_inventory) %>
                <% end %>
              </div>
            <% end if can?(:update, product) %>
          </td>

          <td colspan="3" class="stock_location_info">
            <table class="table table-bordered no-marginb">
              <thead>
              <th><%= t(:stock_location) %></th>
              <th class="text-center"><%= t(:count_on_hand) %></th>
              <th class="text-center"><%= t(:backorderable) %></th>
              <th class="actions text-center"></th>
              </thead>
              <tbody>
              <% product.stock_items.each do |item| %>
                <% next unless @stock_locations.include?(item.stock_location) %>
                <tr id="stock-item-<%= item.id %>">
                  <td><%= item.stock_location.name %></td>
                  <td class="text-center"><%= item.count_on_hand %></td>
                  <td class="text-center">
                    <%= form_for [:admin, item], class: 'toggle_stock_item_backorderable' do |si_form| %>
                      <%= si_form.check_box :backorderable, class: 'stock_item_backorderable', id: :stock_item_backorderable %>
                    <% end if can? :update, item %>
                  </td>
                  <td class="actions actions-1 text-center">
                    <%= link_to_with_icon('times', 'Remove', [:admin, item], method: :delete, remote: true, class: 'icon_link btn btn-danger btn-sm', data: {action: :remove, confirm: 'Are you sure?'}, no_text: true) if can? :destroy, item %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).off('change', '#product_track_inventory').on('change', '#product_track_inventory', function () {
     console.log($(this).parents('.edit_product').attr('id'));
      $(this).parents('.edit_product').submit();
  });

  $(document).off('change', '#stock_item_backorderable').on('change', '#stock_item_backorderable', function () {
     console.log($(this).parents('.edit_stock_item').attr('id'));
      $(this).parents('.edit_stock_item').submit();
  });
</script>