<% content_for :page_title do %>
    User Listing
<% end %>

<% content_for :page_actions do %>
    <%= link_to 'Add New User', new_admin_user_path, class: 'btn btn-info' %>
<% end %>

<% content_for :table_filter do %>
    <div data-hook="admin_users_index_search">
      <%= form_for [:admin, @search], method: :get, url: admin_users_url do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Email' %>
                <%= f.text_field :email, class: "form-control js-quick-search-target" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Name' %>
                <%= f.text_field :name, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div data-hook="admin_users_index_search_buttons" class="form-actions">
            <%= button_tag 'Search', class: 'btn btn-primary ' do %>
                <i class="fa fa-search"></i> Search
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>PURCHASED</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, edit_admin_user_path(user) %>
        </td>
        <td> <%= user.email %> </td>
        <td> N/A</td>
        <td>
          <label class="label-success label">
            <b>
              <%= amount_with_currency(user.purchased) %>
            </b>
          </label>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
