<article class="box-list">
  <figure class="animated fadeInLeft" data-animation-type="fadeInLeft" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">
    <a href="<%= product_path(wishlist.product) %>">
      <%= product_preview_image(wishlist.product) %>
    </a>
  </figure>
  <div class="details">
    <div class="right-side">
      <h4 class="mt0 mb5 text-ellipsis">
        <%= wishlist.product.name %>
      </h4>

      <div class="ratting">
        <div class="star-rating" data-rating="<%= average_rating(wishlist.product) %>">
          ******
        </div>
        <span class="product-price pull-right">
          <%= amount_with_currency(wishlist.product.price) %>
        </span>
      </div>

      <div class="info text-right mb15">
        <% if wishlist.product.reward_point > 0 %>
            <div class="rewards-point-wrapper mr20" title="You will get <%= wishlist.product.reward_point %> rewards point, If you purchased this product.">
              <%= image_tag('trophy.png') %> <%= wishlist.product.reward_point %>
              <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="You will get <%= wishlist.product.reward_point %> rewards point, If you purchased this product."></i>
            </div>
        <% end %>
        <%= raw wishlist.product.on_stock %>
      </div>
      <p class="product-description">
        <%= truncate(wishlist.product.description, length: 100) %>
      </p>

      <div class="form-group">
        <a rel="nofollow" href="<%= product_path(wishlist.product) %>" >
          Details
        </a>
      </div>

      <div class="add-cart">
        <% if wishlist.product.total_on_hand > 0 %>
            <%= form_for :order, url: populate_orders_path, remote: true do |f| %>
                <%= hidden_field_tag :variant_id, wishlist.product.id %>
                <%= hidden_field_tag :quantity, 1 %>
                <%= button_tag class: 'add-to-cart-btn', type: :submit, title: 'Add To Cart' do %>
                    <i class="fa fa-cart-plus color-gray"></i>
                    Add to cart
                <% end %>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>
</article>