<%# if return_items.present? %>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>
          <%#= check_box_tag 'select-all' %>
        </th>
        <th><%= t(:product) %></th>
        <th><%= t(:sku) %></th>
        <th><%= t(:amount) %></th>
        <th><%= t(:resellable) %></th>
      </tr>
      </thead>
      <tbody>
      <%= f.fields_for :return_items do |item_fields| %>
          <tr>
            <td> <%= item_fields.check_box :returned, {checked: false, class: 'add-item'}%>
              <%= item_fields.hidden_field :line_item_id, value: item_fields.object.line_item_id %>
            </td>
            <td><%= item_fields.object.line_item.product.name %></td>
            <td><%= item_fields.object.line_item.product.code %></td>
            <td><%= item_fields.object.line_item.price %></td>
            <td class="align-center">
              <%= item_fields.check_box :resellable, {checked: false, class: 'add-item'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%# end %>