<%= form_for :order, url: populate_orders_path, remote: true, :html => {id: "order-populate"} do |f| %>
    <div id="inside-product-cart-form" data-hook="inside_product_cart_form">
      <%= hidden_field_tag "variant_id", @product.id %>
      <%= hidden_field_tag "size" %>

      <div class="variations">
        <% if @product.variants.present? %>
            <div class="color-section">
              <label class="color-label"> Color: </label>

              <ul class="color-section-ul-style clearfix">
                <% @product.variants.each do |v| %>
                    <li>
                      <input type="radio" class="select_varient" id="radio_<%= v.id %>" data-color-name="<%= v.color %>" data-variant-offer="<%= v.price %>" data-variant-price="<%= v.price %>" name="variant_id" value="<%= v.id %>"/>
                      <label for="radio_<%= v.id %>">
                        <span class="color_image" style="<%= variant_color_image_option(v.color) %>">
                          <%= v.size %>
                        </span>
                      </label>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <div class="add-to-cart-select-quantity">
        <label> Quantity: </label>

        <div class="quantity-number">
          <span class="add-down add-action" data-step='-1'>-</span>
          <%= text_field_tag :quantity, 1, title: 'Quantity', class: 'input-text qty' %>
          <span class="add-up add-action" data-step='1'>+</span>
        </div>
      </div>

      <div data-hook="product_price">
        <% if @product.total_on_hand > 0 %>
            <%= button_tag class: 'btn btn-warning btn-large reset-border-radius', id: 'add-to-cart-button', type: :submit do %>
                ADD TO CART
            <% end %>
            <span class="ml10 wishlist-product-<%= @product.id %>">
                  <%= raw wishlist_link(@product.id) %>
            </span>
            <%= link_to product_compare_path(@product), title: 'Add to compare', class: 'compare btn', remote: true do %>
                <i class="fa fa-refresh"></i>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    var quantity_field = $('#quantity');
    $(function () {
        var assets = {};
        var currency = "<%= currency_symbol %>";
        <% @product.variants.each do |v| %>
        var vid = '<%= v.id %>';
        assets[vid] = {};
        <% v.images.order(:id).each_with_index do |as, indx| %>
        assets[vid][<%= indx %>] = {
            image: '<%= as.file %>',
            zoom_image: '<%= as.file.url(:large); %>'
        };
        <%end%>
        <%end%>

        $('.quantity-number .add-action').click(function () {
            step = $(this).attr('data-step');
            updateQuantity(step);
        });

        quantity_field.keyup(function () {
            updateQuantity(0);
        });

        $(document).off('click', '.select_varient').on('click', '.select_varient', function () {
            id = $(this).val();
            var color_name = $(this).attr('data-color-name');
            var product_price = $(this).attr('data-variant-price');
            var offer_price = $(this).attr('data-variant-offer');
            $('.color-name').html("Color:    " + color_name);
            $('.product-amount').html(currency + product_price);
            $('.discount-amount').html(currency + offer_price);
            $("#product-gallery").html('').removeClass("slick-initialized slick-slider slick-vertical");
            $.each(assets[id], function (indx, img) {
                $("#product-gallery").append(tiny_item(img));
            });
            activate_zoom();
            attached_slider();
        });
        activate_zoom();
    });

    function tiny_item(images) {
        html = "<div class='selection'> <a href='#' data-image='" + images.image + "' data-zoom-image='" + images.zoom_image + "' class='addtional-image'>";
        html += "<img alt='' class='img-fluid' src='" + images.image + "'>";
        html += "</a> </div>";
        return html;
    }

    function attached_slider() {
        setTimeout(function () {
            $("#product-gallery").slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 4,
                dots: false,
                vertical: true
            });
        }, 100);
    }

    function updateQuantity(value) {
        current_quantity = quantity_field.val();
        new_quantity = parseInt(current_quantity) + parseInt(value);
        if (isNaN(new_quantity)) {
            new_quantity = 1
        }
        else {
            new_quantity = new_quantity <= 0 ? 1 : new_quantity;
        }
        quantity_field.val(new_quantity)
    }

    function activate_zoom() {
        $('.zoomContainer').remove();

        $("#product-zoom").elevateZoom({
//            zoomType: "inner",
            scrollZoom: true,
            responsive: !0,
            gallery: "product-gallery",
            cursor: "crosshair",
            galleryActiveClass: "product-active"
        });

        setTimeout(function () {
            $("#product-gallery .selection:first-child").find('a').addClass('product-active').trigger('click');
        }, 500);

    }
</script>