<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>FAQ </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <div class="faq-topics">
              <h3> Shipping and Delivery Questions </h3>
              <ul>
                <li>
                  <a href="#accepted-payment-format">What forms of payment do you accept?</a>
                </li>
                <li>
                  <a href="#money-order">How do I order items with Cashier's Checks or Money Orders?</a>
                </li>
                <li>
                  <a href="#safe-to-user-credit-card">Is it safe to use my credit card on your site?</a>
                </li>
                <li>
                  <a href="#status-order">What is the status of my order?</a>
                </li>
                <li>
                  <a href="#change-or-cancel-order">How do I change or cancel my order?</a>
                </li>
                <li>
                  <a href="#ship-to-po-boxes">Do you ship to PO Boxes or Military APO/FPO addresses?</a>
                </li>
                <li>
                  <a href="#safe-to-use-credit-card-online">Is it safe to use my debit card online?</a>
                </li>
                <li>
                  <a href="#sign-up-for-daily-deals">Why should I sign up for your Daily Deals Email?</a>
                </li>
                <li>
                  <a href="#internet-browser-recommendation">Which Internet browsers do you recommend/support?</a>
                </li>
              </ul>
            </div>

            <div class="question-lists">
              <div class="question" id="accepted-payment-format">
                <b> Q: What forms of payment do you accept? </b> <br/>
                <b> A: </b> Lienes Beauty currently accepts Visa, MasterCard, Discover, American Express & Paypal.
              </div>

              <div class="question" id="money-order">
                <b> Q: How do I order items with Cashier's Checks or Money Orders?</b> <br/>
                <b> A: </b> At this time we do not accept Cashier's Checks or Money Orders.
              </div>

              <div class="question" id="safe-to-user-credit-card">
                <b>Q: Is it safe to use my credit card on your site? </b> <br/>
                <b> A: </b> Shopping at <%= link_to 'www.lienesbeauty.com', root_path %> is safe. The
                <%= link_to 'www.lienesbeauty.com', root_path %> Safe Shopping Guarantee and our site is protected by SSL encryption technology.
                backs every credit card purchase you make at <%= link_to 'www.lienesbeauty.com', root_path %> ,
<!--                 Learn more about the <%#= link_to 'www.lienesbeauty.com', root_path %>-->
<!--                Safe Shopping Guarantee <%#= link_to 'here', '#' %>. <%# TODO: Need link here %>-->
              </div>

              <div class="question" id="status-order">
                <b>Q: What is the status of my order? </b> <br/>
                <b> A: </b> After placing an order, you can view the order status
                24 hours a day by simply clicking on the "My Account" link at the top
                right corner of every page of <%= link_to 'www.lienesbeauty.com', root_path %>.
                From there, you will be able to view information about your order.
              </div>

              <div class="question" id="change-or-cancel-order">
                <b>Q: How do I change or cancel my order? </b> <br/>
                <b> A: </b> Please contact the our Customer Loyalty Team
                immediately if you need to change or cancel your order. Please be
                advised that some orders are shipped very soon after placement,
                and it may not always be possible to cancel.
              </div>

              <div class="question" id="ship-to-po-boxes">
                <b>Q: Do you ship to PO Boxes or Military APO/FPO addresses? </b> <br/>
                <b> A: </b> Shipments can be sent to both PO Boxes and Military
                APO/FPO addresses. Please allow additional time for orders
                shipped to these addresses.
              </div>

              <div class="question" id="safe-to-use-credit-card-online">
                <b>Q: Is it safe to use my debit card online? </b> <br/>
                <b> A: </b> Yes. And please note: If you choose to pay by debit
                card, the amount you charge will be put on "hold", meaning it will
                not be available to you once your shipment is planned. Once your
                order is shipped, the amount of the transaction will be withdrawn
                from your account and the original "hold" will be voided.
              </div>

              <div class="question" id="sign-up-for-daily-deals">
                <b>Q: Why should I sign up for your Daily Deals Email? </b> <br/>
                <b> A: </b> By signing up for our email, you'll be among the first
                to know about special promotions, the availability of new brands,
                limited-time special offers, coupons and many other exciting features
                to help you get the most out of what <%= link_to 'www.lienesbeauty.com', root_path %>
                has to offer! We never rent, sell, or share your personal information. For further details please view our privacy policy.
              </div>

              <div class="question" id="internet-browser-recommendation">
                <b>Q: Which Internet browsers do you recommend/support? </b> <br/>
                <b> A: </b> In order to view this website correctly, we
                recommend using Firefox. We also support Internet Explorer 10
                and above (for Windows users), or Safari (for Macintosh users).
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>