<!DOCTYPE html>
<html>
<head>
  <title>Lienesbeauty | UK Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= render 'shared/header' %>
  <%= yield :social_share_meta %>
</head>

<body>
<div id="page">
  <%= render 'shared/notification' %>
  <%= render 'shared/custom_flash' %>
  <div class="syftet-page-inner row-offcanvas row-offcanvas-left">
    <div class="top-nav">
      <div class="container">
        <%= render 'shared/top_nav' %>
      </div>
    </div>
    <%= render 'shared/main_menu' %>
    <%= yield :breadcrumb %>
    <div class="container">
      <%= yield :sidebar %>
      <%= yield %>
    </div>
    <%= render 'products/compare_modal' %>
    <footer id="syftet-footer" class="syftet-footer" role="contentinfo">
      <%= render 'shared/footer' %>
      <%= render 'shared/public_footer' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110543805-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-110543805-1');
      </script>
    </footer>
  </div>
</div>
<a onclick="topFunction()" id="btn-scroll-top" title="Go to top">
  <i class="fa fa-angle-up fa-2x"></i>
</a>
<a id="btn-contact-top" href="<%= contact_us_path %>" title="Contact us">
  <i class="fa fa-envelope"></i>
</a>
</body>
</html>